.box_ol {
    border: 1px solid black;
    padding: 1% 3%;
}

.task1 li {
    border: 1px solid blue;
    list-style-position:inside;
    margin-bottom: 1%;
    margin-top: 1%;
}

.task1 li:last-child {
    margin-bottom: 0;
}

.task1 li:first-child {
    margin-top: 0;
}

.task1 li:hover {
    background: aqua;
}

.task1 li:hover+li+li {
    background: red;
}

.task2 li {
    border: 1px solid blue;
    list-style-position:inside;
    margin-bottom: 1%;
    margin-top: 1%;
}

.task2 li:last-child {
    margin-bottom: 0;
}

.task2 li:first-child {
    margin-top: 0;
}

.task2 li:hover {
    background: aqua;
}

.task2 li:hover~li {
    background: red;
}

/*task3*/
div.hello > p.test {
    background: aqua;
}

/*task4*/
p.test, .hello {
    background: aqua;
}

/*task5*/
p > a, a.test {
    background: aqua;
}

/*task6*/
p#test > b ~ i {
    background: aqua;
}

/*task7*/
li > b {
    background: red;
}

/*task8*/
h2.header {
    background: red;
}

h3.header {
    background: aqua;
}

/*task9*/
h2#test ~ p {
    background: red;
}

p > * > i {
    background: red;
}

p[title*="привет"] {
    background: red;
}







