.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    animation: sky 46s infinite linear;

    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;
}

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;


    animation: ship-move-right 60s infinite linear;
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
}

.smoke-1 {
    animation: smoke-move 8s infinite linear;

    top: -25px;
    right: 44px;
}

.smoke-2 {
    animation: smoke-move 10s infinite linear;

    top: -25px;
    right: 42px;
}

.smoke-3 {
    animation: smoke-move 12s infinite linear;

    top: -25px;
    right: 49px;
}

.sun {
    animation: sunbeam 10s infinite linear;
    position: absolute;
    top: 100%;
    left: 45%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;
}

.sun-wrapper {
    animation: sun 46s infinite linear;
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;
}

.sun div {
    position: absolute;
    top: -20px;
    left: 45%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

.cloud-1 {
    animation: move-left 36s infinite linear;
    transform: scale(0.25, 0.25);
    top: 10px;
}

.cloud-2 {
    animation: move-right 36s infinite linear;
    transform: scale(-0.5, 0.5);
    top: 50px;
}

.cloud-3 {
    animation: move-left 72s infinite linear;
    transform: scale(0.75, 0.75);
    top: 100px;
}

.cloud-4 {
    animation: move-right 72s infinite linear;
    transform: scale(-1, 1);
    top: 170px;
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}

@keyframes move-left {
    from {
        left: -33%;
    }

    to {
        left: 100%;
    }
}


@keyframes move-right{
    from {
        left: 100%;
    }

    to {
        left: -33%;
    }
}

@keyframes ship-move-right {
    from {
        left: 100%;
    }


    to {
        left: -33%;
    }
}

@keyframes smoke-move {
    from {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        top: -25px;
        transform: scale(0.8, 0.8);
        opacity: 1;
    }

    to {
        top: -40px;
        transform: scale(2, 2);
        bottom: -200%;
        opacity: 0;
    }
}

@keyframes sun {
    from {
        transform: rotate(0.5turn) translateX(360px) translateX(0px) rotate(1.5turn);
    }

    to {
        transform: rotate(1.5turn) translateX(360px) translateX(0px) rotate(0.5turn);
    }
}

@keyframes sunbeam {
    to {
        transform: rotate(1turn);
    }
}

@keyframes sky {
    from {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    20% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }

    40% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    60% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }

    80% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }

    to {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }
}